<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="StyleCop rules for Core Application" Description="Custom Rules" ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1107" Action="Error" />
    <Rule Id="SA1116" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1513" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SX1101" Action="Warning" />
  </Rules>
</RuleSet>