{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "all",
    "jsxBracketSameLine": true,
    "printWidth": 120,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "proseWrap": "never"
}
